#Container{
    margin-top: 100px;
}

.colorPrimary,
.colorPrimary:hover
.colorPrimary:focus
{
    background-color: #2596be;
    border-color: #2596be;
    box-shadow: none;
    outline: 0 none;
    color: white !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus
{
    border-color: red;/*#34cc34*/
    box-shadow: none;
    outline: 0 none;
}